<template>
    <div>
        <h3 class="text-center">Add Post</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addPost">
                    <div class="form-group">
                        <label>Title</label>
                        <input v-model="post.title" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input v-model="post.description" class="form-control" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Add Post</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            post: {}
        }
    },
    methods: {
        addPost() {

            this.axios
                .post('http://localhost:8000/api/post/add', this.post)
                .then(response => (
                    this.$router.push({name: 'home'})
                    // console.log(response.data)
                ))
                .catch(error => console.log(error))
                .finally(() => this.loading = false)
        }
    }
}
</script>
