<template>
    <div>
        <h3 class="text-center">Edit Post</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updatePost">
                    <div class="form-group">
                        <label>Title</label>
                        <input v-model="post.title" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input v-model="post.description" class="form-control" type="text">
                    </div>
                    <button class="btn btn-primary" type="submit">Update Post</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            post: {}
        }
    },
    created() {
        this.axios
            .get(`http://localhost:8000/api/post/edit/${this.$route.params.id}`)
            .then((response) => {
                this.post = response.data;
                // console.log(response.data);
            });
    },
    methods: {
        updatePost() {
            this.axios
                .post(`http://localhost:8000/api/post/update/${this.$route.params.id}`, this.post)
                .then((response) => {
                    this.$router.push({name: 'home'});
                });
        }
    }
}
</script>
